{{#zone "title"}}Example App | WSO2{{/zone}}

{{#zone "content"}}
    <div class="jumbotron">
        <h3>My Page</h3>
    </div>
    <img src="{{@unit.publicUri}}/img/my-image.png"/>
{{/zone}}

{{#zone "bottomJs"}}
    {{js "js/my-js.js"}}
{{/zone}}
